<div class="large-container center-block">
  <h1> <%=@article.title %> </h1>
  <div>
    <p> Escrito por: <strong> <%= @article.user.email %> </strong>
      <% if @article.user.avatar.attached? %>
        <%= image_tag url_for(@article.user.avatar), height:30 %>
      <% end %>
    </p>
  </div>

  <div>
    <%= @article.content %>
  </div>

  <div class="margin-top">
    <p class="label">Tags</p>
    <% @article.categories.each do |category| %>
      <span class="badge badge-pill padding" style="background-color:<%= category.color %>">
        <%= link_to category.title, category, class:"text-white" %>
      </span>
    <% end %>
  </div>

  <div>
      <!-- <%= link_to "Eliminar el articulo", @article, method: :delete %> -->
      <% if current_user == @article.user %>

      <%= link_to 'Eliminar el articulo', '#', "data-toggle"=>"modal", "data-target" => "#delete-#{@article.id}" %>
          <div class="modal fade" id="delete-<%= @article.id %>" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">Confirmation Box</button>
                </div>
                <div class="modal-body">
                  <p>Are you sure to delete this article</p>
                </div>
                <div class="modal-footer">
                  <div class="modal-footer">
                    <%= link_to 'Delete', article_path(@article), method: :delete, :class => 'btn btn-danger' %>
                      <a href="#" data-dismiss="modal" class="btn btn-warning">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
         </div>
      |
         <% end %>
      <%= link_to 'Back', articles_path %>
  </div>
</div>
